.loader {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  color: silver;
  height: 100%;
  width: 100%;
  text-shadow: 0px 0px 15px black;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 7px 7px rgb(0 0 0 / 11%);
}
