.poke-data__card {
  position: relative;
  @include border;
  width: fit-content;
  width: 15rem;
  min-height: 20rem;
  padding: 0.5rem;
  h2 {
    text-align: center;
    margin: 0.5rem;
    span {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
  p {
    margin: 0.5rem;
  }
}
